# https://docs.frigate.video/configuration/reference

mqtt:
  enabled: false

detectors:
  coral1:
    type: edgetpu
    device: pci:0
  coral2:
    type: edgetpu
    device: pci:1

auth:
  enabled: true
  failed_login_rate_limit: 1/second;5/minute;20/hour
  trusted_proxies:
    # Subnet for the internal docker compose network
    - 172.17.0.0/16

telemetry:
  stats:
    amd_gpu_stats: false
    intel_gpu_stats: false
    network_bandwidth: true

detect:
  enabled: true

record:
  enabled: true
  alerts:
    pre_capture: 5
    post_capture: 5
    retain:
      days: 14
      mode: all
  detections:
    pre_capture: 5
    post_capture: 5
    retain:
      days: 14
      mode: all

ffmpeg:
  output_args:
    record: preset-record-generic
  # rPi4: Use hw accel. Proxy /dev/video11 in docker-compose devices config
  # https://docs.frigate.video/configuration/hardware_acceleration/
  # all presets: https://github.com/blakeblackshear/frigate/blob/master/frigate/ffmpeg_presets.py
  # hwaccel_args: preset-rpi-64-h265
  # rPi5: https://github.com/blakeblackshear/frigate/discussions/18431
  # Set dtoverlay=vc4-kms-v3d-pi5,cma-512 in the /boot/firmware/config.txt
  hwaccel_args: -hwaccel drm

# birdseye:
#   enabled: true
#   mode: objects

# See also: https://github.com/AlexxIT/go2rtc/blob/master/internal/app/README.md
# docker exec -it frigate bash
# cat /dev/shm/go2rtc.yaml
go2rtc:
  rtsp:
    # default_query: video=all&audio=all
    username: admin
    password: ${{FRIGATE_RESTREAM_PASSWORD}}
  streams:
    hall_main:
      # DO NOT use quotes!
      # DO NOT use ${ENV}, use either {ENV} to substitute string from env with Frigate,
      # or ${{ENV}} to tell Frigate to skip substitution, so go2rtc will check env by itself.
      - rtsp://admin:${{FRIGATE_PW_HALL}}@10.0.0.2:554/Preview_01_main
    hall_sub_raw:
      - rtsp://admin:${{FRIGATE_PW_HALL}}@10.0.0.2:554/Preview_01_sub
    hall_sub:
      - ffmpeg:hall_sub_raw#video=h264#rotate=270#audio=copy#hardware

    door_main:
      - rtsp://admin:${{FRIGATE_PW_DOOR}}@10.0.0.3:554/cam/realmonitor?channel=1&subtype=0
    door_sub:
      - rtsp://admin:${{FRIGATE_PW_DOOR}}@10.0.0.3:554/cam/realmonitor?channel=1&subtype=1

    dome1_main:
      # Skip Frigate string substitution and rely on the go2rtc env replacement
      - rtsp://admin:${{FRIGATE_PW_DOME1}}@10.0.0.5:554/cam/realmonitor?channel=1&subtype=0
    dome1_sub:
      - rtsp://admin:${{FRIGATE_PW_DOME1}}@10.0.0.5:554/cam/realmonitor?channel=1&subtype=1

    dome2_main:
      - ffmpeg:rtsp://admin:${{FRIGATE_PW_DOME2}}@10.0.0.4:554/cam/realmonitor?channel=1&subtype=0
    dome2_sub:
      - ffmpeg:rtsp://admin:${{FRIGATE_PW_DOME2}}@10.0.0.4:554/cam/realmonitor?channel=1&subtype=1

    dome3_main:
      - rtsp://admin:${{FRIGATE_PW_DOME3}}@10.0.0.6:554/cam/realmonitor?channel=1&subtype=0
    dome3_sub:
      - rtsp://admin:${{FRIGATE_PW_DOME3}}@10.0.0.6:554/cam/realmonitor?channel=1&subtype=1

  webrtc:
    candidates:
      # Bind specific ip for WebRTC
      # Note: Frigate env substitution will not affect this section
      - ${FRIGATE_IP_WEBRTC}:8555

cameras:
  hall:
    enabled: true
    ffmpeg:
      output_args:
        # record video + audio
        record: preset-record-generic-audio-aac
      inputs:
        # Use go2rtc restream
        - path: rtsp://127.0.0.1:8554/hall_main
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/hall_sub
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
            - audio
    live:
      height: 1280
      streams:
        hall_sub: hall_sub
    objects:
      track:
        - person
        - cat
    record:
      enabled: true
    snapshots:
      enabled: false
      timestamp: true
    # This setting will only affect snapshots:
    timestamp_style:
      position: tl
      format: '%d.%m.%Y %H:%M:%S'
    audio:
      enabled: true

    motion:
      threshold: 15
      contour_area: 10
      improve_contrast: true
  door:
    enabled: true
    ffmpeg:
      output_args:
        # record video + audio
        record: preset-record-generic-audio-aac
      inputs:
        - path: rtsp://127.0.0.1:8554/door_main
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/door_sub
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
            - audio
    live:
      height: 1280
      streams:
        door_main: door_main
    objects:
      track:
        - person
        - cat
        - dog
    record:
      enabled: true
    snapshots:
      enabled: false
    audio:
      enabled: true
    # Add motion mask to mask camera-provided timestamp overlay, for example
    # Use Web UI to configure visually
    motion:
      mask: 0,0.039,0.403,0.039,0.403,0,0,0

      threshold: 5
      contour_area: 10
      improve_contrast: true
  dome1:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/dome1_main
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/dome1_sub
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
            - audio
    live:
      streams:
        dome1_main: dome1_main
    objects:
      track:
        - person
        - cat
    record:
      enabled: true
    snapshots:
      enabled: false
    motion:
      mask: 0.273,0.048,0.551,0.048,0.551,0,0.273,0

      threshold: 5
      contour_area: 10
      improve_contrast: true
  dome2:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/dome2_main
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/dome2_sub
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
            - audio
    live:
      height: 1280
      streams:
        dome2_main: dome2_main
    objects:
      track:
        - person
        - cat
    record:
      enabled: true
    snapshots:
      enabled: false
    motion:
      mask: 0.709,0.046,1,0.048,1,0,0.709,0

      threshold: 20
      contour_area: 10
      improve_contrast: true
  dome3:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/dome3_main
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/dome3_sub
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
            - audio
    live:
      streams:
        dome3_main: dome3_main
    objects:
      track:
        - person
        - cat
    record:
      enabled: true
    snapshots:
      enabled: false
    motion:
      mask: 0,0.048,0.277,0.048,0.277,0,0,0

      threshold: 20
      contour_area: 10
      improve_contrast: true
version: 0.16-0
